<div class="registration-step8-page">
  <div class="title">
    CERTIFICATION & AUTHORIZATION
  </div>

  <div class="card">
    <div class="card-body registration-step8">
    
      <div class="row">
        <span class="col-md-12">
          I hereby certify that all statements made in this application are true and correct to the best of my knowledge and belief.
          I understand that my misrepresentations or omissions of facts in this application are grounds for disqualification from further consideration or for dismissal from registration.
          <br>
          I authorize the company to inquire into my educational, professional and past work history references as needed to research my qualifications for this position.
          <br>
          If I registered, I agree to confirm to the rules, regulations and policies of the company.
          I understand that I will be an independent contractor "at will" and either the company or I may terminate my contractual relationship at any time based on the terms of the AGREEMENT for any reason not in violation of law.
          <br>
          I hereby acknowledge that I have read and fully understand the forgoing and seek registration under these conditions.
        </span>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-6 text-right">Signature of Applicant</span>
            <div class="col-md-6" style="background-color: #ddd; height: 100px;"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-6 text-right">Date</span>
            <div class="col-md-6" style="background-color: #ddd; height: 30px;"></div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-12"><hr /></div>
      </div>

      <div class="row ">
        <div class="col-md-12 text-center">
          <div class="btn-group">
            <button
              class="btn btn-sm btn-success"
              (click)="moveToNext()"
            >
              Save & Next
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
