.background_color_first{
    padding:4px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#ededed;
}

.background_color_second {
    padding:4px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#ededed;
}
.background_color_third {
    padding:4px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#ededed;
}

.customValidationMessage{
    position: fixed;
    width: 50%;
    right: 30px;
    z-index: 2;
    margin-top: 3%;
}

#editing_col{
    background-color: #f6f6f6;
}