<div class="mb-5">
  <div class="card">
    <div class="card-body">
      <div class="text text-right">
        <button
          type="button"
          *ngIf="acl_allow.update == true"
          class="btn btn-md btn-success"
          (click)="addDataAction(addEditModal)"
        >
          ADD
        </button>
      </div>
      <hr />
      <ngx-datatable
        class=""
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="0"
        [selectionType]="'single'"
        [rows]="listData"
        [rowHeight]="'auto'"
        [reorderable]="false"
      >
        <ngx-datatable-column
          name="PhysicianName"
          prop="PhysicianName"
          [width]="120"
        ></ngx-datatable-column>
        <ngx-datatable-column name="Address" prop="Address1" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column
          name="Email Address"
          prop="Email"
          [width]="120"
        ></ngx-datatable-column>

        <ngx-datatable-column name="Action" [width]="120">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            <button
              type="button"
              *ngIf="acl_allow.update == true"
              class="btn btn-warning btn-sm"
              (click)="updateDataAction(addEditModal, row)"
            >
              Update
            </button>
            <button
              type="button"
              *ngIf="acl_allow.delete == true"
              class="btn btn-danger btn-sm"
              (click)="deleteDataAction(deleteModal, row)"
            >
              Delete
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<app-custom-modal
  #addEditModal
  [modalTitle]="(editRow ? 'Edit ' : 'Add ') + 'Physician'"
  [width]="1200"
>
  <ng-container class="app-modal-body">
    <div *ngIf="addEditModal.visible" class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Physician Name</strong>
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="editData.PhysicianName"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Email Address</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.Email" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Address1</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.Address1" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Address2</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.Address2" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">City</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.City" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">State</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.State" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Zip</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.Zip" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Phone</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.Phone" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Fax</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.Fax" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="col-form-label">Alt Phone</strong>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="editData.AltPhone" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <strong class="col-form-label">Note</strong>
          <textarea
            class="form-control form-control-sm"
            type="text"
            rows="5"
            [(ngModel)]="editData.Notes"
          ></textarea>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="addEditModal.hide()">Close</button>
    <button type="button" class="btn btn-success" (click)="saveData()">Save</button>
  </ng-container>
</app-custom-modal>

<app-custom-modal #deleteModal [modalTitle]="'Delete'" [width]="600">
  <ng-container class="app-modal-body">
    <span>Do you want to delete it - {{ editRow ? editRow.PhysicianName : '' }}?</span>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="deleteModal.hide()">Close</button>
    <button type="button" class="btn btn-danger" (click)="deleteData()" data-dismiss="modal">
      Delete
    </button>
  </ng-container>
</app-custom-modal>

<ngx-loading
  [show]="saving === 'saving'"
  [config]="{backdropBorderRadius: '3px', fullScreenBackdrop: true}"
></ngx-loading>
