    <ngx-datatable
    class=""
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="0"
    [rowHeight]="30"
    [scrollbarV]="true"
    [scrollbarH]="true"
    [rows]="rows">
    <ngx-datatable-column  name="FirstName" prop="FirstName" [width]="120"></ngx-datatable-column>
    <ngx-datatable-column  name="LastName" prop="LastName" [width]="120"></ngx-datatable-column>
    <ngx-datatable-column  name="AgencyName" prop="AgencyName" [width]="120"></ngx-datatable-column>
    <ngx-datatable-column  name="Phone" prop="Phone" [width]="120"></ngx-datatable-column>
    </ngx-datatable>
    